@media screen and (min-width: 480px){
  /******************************
  TWO COLUMN LAYOUT
  ******************************/
  
  #primary{
    width: 50%;
    float: left;
  }
  
  #secondary{
    width: 40%;
    float: right;
  }
  
  
  
  /******************************
  PAGE: PORTFOLIO
  ******************************/
  #gallery ul{
    clear: left;
  }
  
  #gallery ul.right-row{
    margin-left: 12.25%;
  }
  
  #gallery ul.left-row{
    margin-right: 12.25%;
  }
  
  #gallery ul li{
    width: 24.5%%;
    margin: 0;
  }
  
  #gallery ul li{
    
  }
  
  
  /******************************
  PAGE: ABOUT
  ******************************/
  
  .profile-photo {
    float: left;
    margin: 0 5% 80px 0;
  }
}

@media screen and (min-width: 660px){
  
  /******************************
  HEADER
  ******************************/
  nav{
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align:right;
    width: 55%;
  }
  
  #logo {
    float: left;
    margin-left: 5%;
    text-align:left;
    width: 35%;
    
  }
  
  h1{
    font-size:1.75em;
  }
  
  h2{
    font-size:0.825em;
    margin-bottom:20px;
  }
  
  header{
    border-bottom: 5px solid #599a68;
    margin-bottom:60px;
  }
  
}

@media screen and (min-width: 880px){
  
  /******************************
  HEADER
  ******************************/
  
  h1{
    font-size:2.5em;
  }
  
  

}